<!-- 
<app-chart [min-tick]="7" [max-tick]="14"></app-chart>
-->
<div class="chart">
  <div class="candle">
    <div class="candle-body" style="height:100px"></div>
    <div class="candle-wick"></div>
  </div>

  <div id="vertical-0" class="vertical" style="top:31.25px"></div>
  <div id="vertical-1" class="vertical" style="top:62.5px"></div>
  <div id="vertical-2" class="vertical" style="top:93.75px"></div>
  <div id="vertical-3" class="vertical" style="top:125px"></div>
  <div id="vertical-4" class="vertical" style="top:156.25px"></div>

  <div id="vertical-5" class="vertical" style="top:187.5px"></div>
  <div id="vertical-6" class="vertical" style="top:187.5px"></div>
  <div id="vertical-7" class="vertical" style="top:187.5px"></div>
  <div id="vertical-8" class="vertical" style="top:187.5px"></div>
  <div id="vertical-9" class="vertical" style="top:187.5px"></div>

  <div id="vertical-10" class="vertical" style="top:187.5px"></div>
  <div id="vertical-11" class="vertical" style="top:187.5px"></div>
  <div id="vertical-12" class="vertical" style="top:187.5px"></div>
  <div id="vertical-13" class="vertical" style="top:187.5px"></div>
  <div id="vertical-14" class="vertical" style="top:187.5px"></div>

  <div id="vertical-15" class="vertical" style="top:187.5px"></div>
</div>

<div class="candle">
  <div class="candle-body" style="height:100px"></div>
  <div class="candle-wick"></div>
</div>

<div>
  height of the square divided by number above and below... <br />
  Animate the story<br />
  Crate controls for the replay of the animation<br />
  x amount above the minimum and maximum tick. Example. Minimum: 4 Maximum: 16
</div>
